* {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
/*navbar area start*/
.header-area {
  background: #fff8f3;
  background-image: url("/images/header_bg.png"), url(/images/developer.png);
  background-repeat: no-repeat;
  background-position: right bottom, left center;
  background-origin: content-box;
  padding-left: 20px;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;

  /* Dark 01 */

  color: #181818;
}
.text-primary {
  color: #fd6e0a;
}
.navbar {
  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* margin: 50px 234px; */
  /* max-width: 1240px;
  margin: 50px auto; */
}
.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.menu li {
  list-style-type: none;
  margin-left: 40px;
  font-size: 20px;
  line-height: 27px;
}
.menu li a {
  text-decoration: none;
  color: #474747;
}
.primary-btn {
  font-size: 20px;
  height: 54px;
  color: #ffffff;
  background: #fd6e0a;
  border-radius: 5px;
  padding: 0 20px;
  border: 0;
}
.transparent-btn {
  background: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
/*navbar area end*/
/* banner styles start */
.banner {
  display: flex;
  align-items: center;
}
.banner_title {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  color: #474747;
}
.banner_name {
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  color: #181818;
}
.banner_para {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: #757575;
  margin-bottom: 30px;
}
/* banner styles start */

/*about area start */
.about {
  width: 1140px;
  margin: 130px auto;
  text-align: center;
}
.about_title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
}
.about_para {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 30px 0;
  color: #757575;
}
.about_content {
  background: #fff8f3;
  padding: 131px 156px;
}

.about_info {
  display: flex;
  justify-content: space-around;
}
.info_title {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.info_des {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/*about area end*/

/* skills area start */
.skills_area {
  margin: 130px 0;
  text-align: center;
}
.skills_title {
  margin-bottom: 30px;
}
.skill_items {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-top: 70px;
}
.items {
  padding: 30px;
}
.items img {
  margin-bottom: 38px;
}
.items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

/*resume items start */
.resume {
  margin: 130px 0;
}
.resume_title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 100px;
  text-align: center;
}

.resume_items {
  display: flex;
  justify-content: space-between;
}
.items_heading {
  font-size: 30px;
  margin-bottom: 30px;
}
.items_left,
.items_right {
  padding: 20px;
}

.item_title {
  font-size: 24px;
  margin-bottom: 10px;
}
.item_des {
  font-size: 16px;
  color: #757575;
  margin-bottom: 30px;
}
.item_para {
  margin-bottom: 20px;
}
.resume hr {
  margin-bottom: 30px;
}
.center {
  text-align: center;
  margin: 0 auto;
  display: block;
}
/* footer area start */
.footer-area {
  background: #fff8f3;
  padding: 130px 230px;
}
.footer-title {
  margin-bottom: 10px;
  font-size: 35px;
}
.footer-para {
  margin-bottom: 40px;
}
.contact {
  display: flex;
  gap: 100px;
}
.fa-brands {
  margin-right: 10px;
  color: #fd6e0a;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 18px 30px;
  margin-bottom: 24px;
  border-radius: 5px;
  border: transparent;
}
